<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

   <% jour=@paiment.date1.strftime("%A") %>  

   <% mois=@paiment.date1.strftime("%B")  %>

<% case jour  %>
 <% when "Monday"  %>
 <%  jour= "Lundi" %> 
 <% when "Tuesday"  %>
 <%  jour= "Mardi" %> 
<% when "Wednesday"  %>
 <%  jour= "Mercredi" %>
  <% when "Thursday"  %>
 <%  jour= "Jeudi" %>
  <% when "Friday"  %>
 <%  jour= "Vendredi" %>
  <% when "Saturday"  %>
 <%  jour= "Samedi" %> 
  <% when "Sunday"  %>
 <%  jour= "Dimanche" %> 
<% else  %>              
 <% puts 'Only single-digit numbers are allowed' %>
 <% end %>

 <% case mois  %>
 <% when "January"  %>
 <%  mois= "Janvier" %> 
 <% when "February"  %>
 <%  mois= "Février" %> 
<% when "March"  %>
 <%  mois= "Mars" %>
  <% when "April"  %>
 <%  mois= "Avril" %>
  <% when "May"  %>
 <%  mois= "Mai" %>
  <% when "June"  %>
 <%  mois= "Juin" %>
  <% when "July"  %>
 <%  mois= "Juillet" %>
  <% when "August"  %>
 <%  mois= "Aout" %>
  <% when "September"  %>
 <%  mois= "Septembre" %>
  <% when "October"  %>
 <%  mois= "Octobre" %>
   <% when "November"  %>
 <%  mois= "Novembre" %>
  <% when "December"  %>
 <%  mois= "Décembre" %>
<% else  %>              
 
 <% end %>





    <h1> Facture!</h1> <br>


   <div class="row" >

             <div   class="col-lg-12 fondgris" > 

              Facture  <br>
              Ref:FCA1458965232


             </div>
   </div>  

    <div class="row" >

             <div   class="col-lg-12 fondgris " style="background:red;margin-top:30px;" >

              Dupont Francois <br>
              202 bv de Charonne <br>
              75020 Paris

              </div>

   </div>


   <div class="row" >

             <div   class="col-lg-12 fondgris" style="background:red;margin-top:30px;"> 

              <strong> PAYEE <strong> <br>
              <div> Paris le 20 Janvier 2014 </div>  


             </div>

   </div>


   <div class="row" >

             <div   class="col-xs-12 col-md-12 col-lg-12 fondgris" style="border:1px solid rgba(0, 0, 0, 0.2);background:red;margin-top:30px;" style="background:red;margin-top:30px;" > 

              <strong> Mustapha elatrasi<strong> 


             </div>

    </div>   

     <div class="row" >

             <div   class="col-xs-12 col-md-12 col-lg-12 fondgris" style="border:1px solid rgba(0, 0, 0, 0.2);background:red;margin-top:30px;" style="background:red;margin-top:30px;" > 

              <strong> Places<strong> 2 x 13€


             </div>

            

    </div>  


    

      <div class="row" >

     <div   class="col-xs-12 col-md-12 col-lg-12 fondgris" style="border:1px solid rgba(0, 0, 0, 0.2);background:red;margin-top:30px;" style="background:red;margin-top:30px;" > 

              <strong> Frais de reservation<strong> 0€


             </div>

     </div> 


     <div class="row" >

     <div   class="col-xs-12 col-md-12 col-lg-12 fondgris" style="border:1px solid rgba(0, 0, 0, 0.2);background:red;margin-top:30px;" style="background:red;margin-top:30px;" > 

              <strong> Total HT<strong> 34€18


             </div>

     </div>   

     <div class="row" >

     <div   class="col-xs-12 col-md-12 col-lg-12 fondgris" style="border:1px solid rgba(0, 0, 0, 0.2);background:red;margin-top:30px;" style="background:red;margin-top:30px;" > 

              <strong> Total TVA<strong> 0€


             </div>

     </div>  


     <div class="row" >

     <div   class="col-xs-12 col-md-12 col-lg-12 fondgris" style="border:1px solid rgba(0, 0, 0, 0.2);background:red;margin-top:30px;" style="background:red;margin-top:30px;" > 

              <strong> Total TTC<strong> 0€


             </div>

     </div>  


     
        
        
       
       
      
     
  <br><br>    


   
<p>Réglée par Carte Bancaire </p>
<br><br>



<TABLE frame="border" cellpadding="2" style="width:50%;">
  <TR>
   <TH align="center" style="width:50%;"> Libelle</TH>
   <TH align="center"> Nombre </TH>
   <TH align="center"> Montant</TH>
   
  </TR>
  <TR>
   <TD> Mustafa El Atrassi</TD>
  </TR>
  <TR>
   <TD> Places</TD>
   <TD> 2 x 13€00
   </TD>
   <TD> 26€00</TD>
  </TR>
  <TR>
   <TD> Frais Réservation</TD>
   <TD> 2 x 0€00
   </TD>
   <TD> 0€00</TD>
  </TR>
  <TR>
   <TD> Total HT</TD>
   <TD> </TD>
   <TD> 26€00</TD>
  </TR>
</TABLE>

    

  </body>
</html>

