<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @authors.email  %>Thanks for signing up, !</h1>
    <p>Thanks for joining and have a great day! Now sign in and do
awesome things!</p>
<img src="http://fr.web.img2.acsta.net/r_640_600/b_1_d6d6d6/pictures/210/604/21060483_20131125114549726.jpg" height="300" width="300">;
  </body>
</html>

