<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

   <% jour=@paiment.date1.strftime("%A") %>  

   <% mois=@paiment.date1.strftime("%B")  %>

<% case jour  %>
 <% when "Monday"  %>
 <%  jour= "Lundi" %> 
 <% when "Tuesday"  %>
 <%  jour= "Mardi" %> 
<% when "Wednesday"  %>
 <%  jour= "Mercredi" %>
  <% when "Thursday"  %>
 <%  jour= "Jeudi" %>
  <% when "Friday"  %>
 <%  jour= "Vendredi" %>
  <% when "Saturday"  %>
 <%  jour= "Samedi" %> 
  <% when "Sunday"  %>
 <%  jour= "Dimanche" %> 
<% else  %>              
 <% puts 'Only single-digit numbers are allowed' %>
 <% end %>

 <% case mois  %>
 <% when "January"  %>
 <%  mois= "Janvier" %> 
 <% when "February"  %>
 <%  mois= "Février" %> 
<% when "March"  %>
 <%  mois= "Mars" %>
  <% when "April"  %>
 <%  mois= "Avril" %>
  <% when "May"  %>
 <%  mois= "Mai" %>
  <% when "June"  %>
 <%  mois= "Juin" %>
  <% when "July"  %>
 <%  mois= "Juillet" %>
  <% when "August"  %>
 <%  mois= "Aout" %>
  <% when "September"  %>
 <%  mois= "Septembre" %>
  <% when "October"  %>
 <%  mois= "Octobre" %>
   <% when "November"  %>
 <%  mois= "Novembre" %>
  <% when "December"  %>
 <%  mois= "Décembre" %>
<% else  %>              
 
 <% end %>


<% var2="http://billetgratuit.herokuapp.com/images/logo.png"  %>



                          <div style="background:background: none repeat scroll 0% 0% rgb(248, 248, 248);" >

                               
                                  <div align="left">
                                    <a href="http://billetgratuit.com">
                                   <img src="<%= var2 %>" alt="arobas" style="width:90%;" />
                                    </a>
                                    </div>
                                
                                  
                                         
                              </div>

   <div class="row" >

             <div   class="col-lg-12 fondgris" > 

              Facture  <br>
              Ref:FCA1458965232


             </div>
   </div>  

    <div class="row" >

             <div   class="col-lg-12 fondgris " style="background:red;margin-top:30px;" >

              Dupont Francois <br>
              202 bv de Charonne <br>
              75020 Paris

              </div>

   </div>

 <br><br>    



<TABLE frame="border" cellpadding="2" style="width:50%;text-align:left;">
  <TR style="text-align:left;">
   <TH align="center" style="width:50%;"> Libelle</TH>
   <TH align="center"> Nombre </TH>
   <TH align="center"> Montant</TH>
   
  </TR>
  <TR style="text-align:left;">
   <TD> Mustafa El Atrassi</TD>
  </TR>
  <TR style="text-align:left;">
   <TD> Places</TD>
   <TD> 2 x 13€00
   </TD>
   <TD> 26€00</TD>
  </TR>
  <TR style="text-align:left;">
   <TD> Frais Réservation</TD>
   <TD> 2 x 0€00
   </TD>
   <TD> 0€00</TD>
  </TR>
  <TR style="text-align:left;">
   <TD> Total HT</TD>
   <TD> </TD>
   <TD> 26€00</TD>
  </TR>
  <TR style="text-align:left;">
   <TD> Total TVA</TD>
   <TD> </TD>
   <TD> 0€00</TD>
  </TR>
  <TR style="text-align:left;">
   <TD> Total TTC</TD>
   <TD> </TD>
   <TD> 26€00</TD>
  </TR>
</TABLE>

<br><br>


<p>Réglée par Carte Bancaire le 20/01/2014 </p>

<br><br>


<p>billetgratuit.com</p>




    

  </body>
</html>

