<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

   <% jour=@paiment.date1.strftime("%A") %>  

   <% mois=@paiment.date1.strftime("%B")  %>

<% case jour  %>
 <% when "Monday"  %>
 <%  jour= "Lundi" %> 
 <% when "Tuesday"  %>
 <%  jour= "Mardi" %> 
<% when "Wednesday"  %>
 <%  jour= "Mercredi" %>
  <% when "Thursday"  %>
 <%  jour= "Jeudi" %>
  <% when "Friday"  %>
 <%  jour= "Vendredi" %>
  <% when "Saturday"  %>
 <%  jour= "Samedi" %> 
  <% when "Sunday"  %>
 <%  jour= "Dimanche" %> 
<% else  %>              
 <% puts 'Only single-digit numbers are allowed' %>
 <% end %>

 <% case mois  %>
 <% when "January"  %>
 <%  mois= "Janvier" %> 
 <% when "February"  %>
 <%  mois= "Février" %> 
<% when "March"  %>
 <%  mois= "Mars" %>
  <% when "April"  %>
 <%  mois= "Avril" %>
  <% when "May"  %>
 <%  mois= "Mai" %>
  <% when "June"  %>
 <%  mois= "Juin" %>
  <% when "July"  %>
 <%  mois= "Juillet" %>
  <% when "August"  %>
 <%  mois= "Aout" %>
  <% when "September"  %>
 <%  mois= "Septembre" %>
  <% when "October"  %>
 <%  mois= "Octobre" %>
   <% when "November"  %>
 <%  mois= "Novembre" %>
  <% when "December"  %>
 <%  mois= "Décembre" %>
<% else  %>              
 
 <% end %>





    <h1> Facture!</h1> <br>


   <div class="row" >

             <div   class="col-xs-0 col-md-3 col-lg-3 fondgris" > 

              Facture
              Ref:FCA1458965232


             </div>

             <div   class="col-xs-12 col-md-6 col-lg-6 fondgris " >

             </div>

             <div   class="col-xs-0 col-md-3 col-lg-3 fondgris" >
              Dupont Francois <br>
              202 bv de Charonne
              75020 Paris

              </div>

   </div>


   <div class="row" >

             <div   class="col-xs-0 col-md-3 col-lg-3 fondgris" > 

              <strong> PAYEE <strong>
               <div> Paris le 20 Janvier 2014 </div>  


             </div>

             <div   class="col-xs-12 col-md-6 col-lg-6 fondgris " >

             </div>

             <div   class="col-xs-0 col-md-3 col-lg-3 fondgris" >
              Dupont Francois <br>
              202 bv de Charonne
              75020 Paris

              </div>

   </div>


   <div class="row" >

             <div   class="col-xs-12 col-md-12 col-lg-12 fondgris" style="border-bottom:1px solid rgba(0, 0, 0, 0.2);" > 

              <strong> Mustapha elatrasi<strong> 


             </div>


   
<p>A très bientot sur http://www.billetgratuit.com </p>
<br>

    

  </body>
</html>

