<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour !</h1> <br>
    <p>Merci de votre inscription sur le site http://www.billetgratuit.com </p>
    <p>Pour découvrir les invitations de nos partenaires et réserver en ligne rendez vous sur le site <a href="http://billetgratuit.com">billetgratuit.com</a></p>
    

<br>
<br>
<p>A très bientot sur http://www.billetgratuit.com </p>
<br>

    

  </body>
</html>

