<% provide(:title, "Créer un compte") %>

<div class="row"  >
  <div  class="col-xs-0  col-md-4" ></div>
  <div  class="col-xs-12 col-md-4" >
<div class="field" style="margin-bottom:20px;font-size:20px;">
<%= link_to 'Déjà un compte?', login_path %>
</div>
</div>
<div  class="col-xs-12 col-md-4" ></div>
</div>	

<%= render 'form' %>


