
<% provide(:title, "Limite de réservations") %>


<div class="row"  >

  

<!-- --------------------  Partie PC --------------------------------------------  -->

  <div  class="col-xs-12 col-md-6 col-ls-6 " style="margin-top:50px;" > 

  <p>
  CEO : Waterlot Julien
 </p>

  <p>  
  <span class="glyphicon glyphicon-envelope"></span><font style="margin-left:15px">billetgratuitparis@gmail.com</font>
  </p>
  <p>

	BilletGratuit <br>
	55, Rue de vincennes<br>
	Montreuil, 93100 France
 </p>
 <p>
     BilletGratuit a startup powered by Simplon
</p>
  
 </div>





  

   

  </div>
