
<% provide(:title, "Contact") %>


<div class="row"  >

  <div  class="col-xs-0  col-md-3 col-ls-3" ></div>



<!-- --------------------  Partie PC --------------------------------------------  -->

  <div  class="col-xs-12 col-md-6 col-ls-6 " style="margin-top:50px;" > 

  <div class="monecriture">
  CEO : Waterlot Julien
 </div>
  <br>
  <div class="monecriture"> 
  <span class="glyphicon glyphicon-envelope"></span><font style="margin-left:15px">billetgratuitparis@gmail.com</font>
  </div>
  <br>
  <div class="monecriture">

	BilletGratuit <br>
	55, Rue de vincennes<br>
	Montreuil, 93100 France
 </div>
 <br>
 <div class="monecriture">
     BilletGratuit a startup powered by Simplon
</div>
  
 </div>





  <div  class="col-xs-0  col-md-3 col-ls-3" ></div>



   

  </div>
