
<% provide(:title, "Fonctionnement") %>


<div class="row"  >

   <div  class="col-xs-0  col-md-3 col-ls-3" ></div>


<!-- --------------------  Partie PC --------------------------------------------  -->

  <div  class="col-xs-12 col-md-6 col-ls-6 " style="margin-top:50px;" > 

  




 
<div class="monecriture">

BilletGratuit.com est un site d'invitations totalement gratuites et de réservation à des événements culturels: 
 <br><br>
 Vous avez droit à une réservation gratuite par jour.<br>
 La réservation est faite sous votre vrai nom car une carte d'identité peut vous être demandée lors du retrait de vos billets. <br><br>

 La liste des opérations en cours et à venir est disponible sur la page Invitations. Les mises en ligne se font à une date et à une heure fixes. La règle d'attribution des invitations est celle du premier arrivé, premier servi. De nouvelles invitations pour un événement peuvent être mises en ligne et sont signalées sur notre page Facebook et Twitter.



   </div>
 
 </div>





  

   <div  class="col-xs-0  col-md-3 col-ls-3" ></div>


  </div>
