<% provide(:title, "Mot de passe oublié") %>

<div class="row">
    
        <div class="col-lg-12" >
     
           <div align="center">
						<%= form_tag password_resets_path, :method => :post do %>
						  <div class="field">
						    
						    <%= text_field_tag :username, "Email" %> <%= submit_tag "Envoyer" %>
						  </div>
						<% end %>
			</div>			
        </div>
</div>        


 