
<% provide(:title, "Limite de réservations") %>


<div class="row"  >

   <div  class="col-xs-0  col-md-3 col-ls-3" ></div>


<!-- --------------------  Partie PC --------------------------------------------  -->

  <div  class="col-xs-12 col-md-6 col-ls-6 " style="margin-top:50px;" > 

  <div class="monecriture"> Quelle tristesse, vous n'avez droit qu'a une réservation par jour, mais nous vous attendons dès demain ;) </div>

 </div>





  

   <div  class="col-xs-0  col-md-3 col-ls-3" ></div>


  </div>
