
<% provide(:title, "Invitations disponibles par la newsletter") %>


<div class="row"  >

  <div  class="col-xs-0  col-md-3 col-ls-3" ></div>



<!-- --------------------  Partie PC --------------------------------------------  -->

  <div  class="col-xs-12 col-md-6 col-ls-6 " style="margin-top:50px;" > 



 <% 	if current_user   %>

  <div class="monecriture">

      Vous recevrez très prochainement notre newsletter avec des invitations 100% gratuites à des spectacles!

   </div>   

  	<% else  %>

			  <div class="monecriture">
			  
			  Les invitations sont pour le moment uniquement disponibles par la newsletter!<br>
			  Si vous voulez recevoir des invitations gratuites à des spectacles vous pouvez dés maintenant vous inscrire sur BilletGratuit.com 

			 </div>



  <% end %>


 </div>




  <div  class="col-xs-0  col-md-3 col-ls-3" ></div>



   

  </div>
