<h3>Détails invitations </h3>


<p>
<% var=@invitation.avatar.url %>
<% var[0,23] = "https://s3-eu-west-1.amazonaws.com" %>

</p>

<img src="<%= var %>" alt="arobas" style="width:164px; height:164px;" />



<p><%=  @invitation.titre %> </p>

 <p><%=  @invitation.description %></p>

<p><%=  @invitation.author_id %> </p>





