<% provide(:title, "Réservation") %>




<div class="row" style="background:#e5e5e5;text-align:left;">
  
   <div   class="col-xs-3"  > Lieu </div>
   <div   class="col-xs-3" > Nom </div>
   <div   class="col-xs-3" > Code  </div>
   <div   class="col-xs-3" >  </div>
   
   
   

</div>

<% @reservations.each do |t| %>

<div class="row" style="text-align:left;overflow:hidden;">
  
  
   <div   class="col-xs-3" style="border-top: solid 1px grey;" > <%= t.id %> </div>
   <div   class="col-xs-3"  style="border-top: solid 1px grey;"> <%= t.author_nom %>  </div>
   <div   class="col-xs-3" style="border-top: solid 1px grey;overflow:hidden;"> <%= t.code %> </div>
   <div   class="col-xs-3" style="border-top: solid 1px grey;" >  <%= link_to "Détails", detailresa_path(t.id)   %> </div>

   
   
   
     

 </div>

<%  end  %>

