
<% provide(:title, "Confirmation de votre réservation") %>


<div class="row"  >

   <div  class="col-xs-0  col-md-3 col-ls-3" ></div>


<!-- --------------------  Partie PC --------------------------------------------  -->

  <div  class="col-xs-12 col-md-6 col-ls-6 " style="margin-top:50px;" > 
  <h4>Votre paiement a été accepté</h4>
  <div class="monecriture"> Votre réservation à bien été enregistrée,une facture et le code de votre réservation vient d'être envoyé sur votre boite mail. </div><br>
  <div class="monecriture"> Bon spectacle </div>

 </div>





  

   <div  class="col-xs-0  col-md-3 col-ls-3" ></div>


  </div>